#cardtitle{

  color: rgb(0, 237, 254);
}



#btn-iscrizione{
  background-color: rgb(0, 237, 254);
  border-radius:10px;
  color:white
}

#btn-dettaglio{
  background-color: rgb(0, 237, 254);
  border-radius:10px;
  color: white;

}
