
<h3 class="mt-3 text-centerì'"> ECCO TUTTI I DETTAGLI</h3>

<p class="fs-4"><span class=" fs-5">Titolo evento:</span> {{evento?.nome}}</p>

<p class=" fs-5">Descrizione:</p>
<p>{{evento?.descrizione}}</p>


<p class=" fs-5"> L'evento si svolgerà nella città di {{evento?.luogo}}</p>

<p class=" fs-5"> L'evento si svolgerà in provincia di {{evento?.provincia}} </p>


<p class=" fs-5">Tipo di evento:</p>
<p>{{evento?.tipo}}</p>


<div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="showSuccessMessage">
  Iscrizione completata, pronto per divertirti!
  <button type="button" class="btn-close" aria-label="Close" (click)="closeAlert()"></button>
</div>

<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="showErrorMessage">
  Errore durante l'iscrizione. Riprova più tardi.
  <button type="button" class="btn-close" aria-label="Close" (click)="closeAlert()"></button>
</div>

<button type="button" class="btn btn-success w100"
(click)="iscriviUtente( evento?.id! , currentUser?.id! )">ISCRIZIONE</button>
