

i{
  color: rgb(0, 237, 254);
}

#title{
  color: rgb(0, 237, 254);
}

#toggler{
  color: rgb(0, 237, 254);
}

#eventi{
  color: rgb(0, 237, 254);

}

li a {
  color:white;
}

a{
  color:white;
}

ul li a {
  color: black;
}

#persona{
  color: rgb(255, 255, 255);
}

.w50{
  width: 50%;
}



#nav2 div {
  padding-inline: 10px;
}


